* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.main-container {
    padding: 15px;
}

.bg-burnt-sienna {
    background-color: #e1743b;
}

.bg-pale-spring-bud {
    background-color: #e2f0bd;
}

.bg-light-gray {
    background-color: #d8d8d8;
}

.bg-pistachio {
    background-color: #94ce50;
}

.bg-pale-goldenrod {
    background-color: #e8f1c0;
}

.bg-medium-aquamarine {
    background-color: #6ae878;
}

.bg-yellow-sunglow {
    background-color: #ffff05;
}

.bg-dark-magenta {
    background-color: #741975;
}

.header .header-center-image {
    width: 200px;
}


.text-center {
    text-align: center;
}


.header {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}


.table-container {
    width: 100%;
    overflow: auto;

}

.table-medium {
    width: 768px;
    margin: 10px auto;
    table-layout: fixed;
    border-collapse: collapse;

}

.table-footer {
    background-color: #e1743b;
}

.margin-bottom-0 {
    margin-bottom: 0px;
}

.m-0 {
    margin: 0px;
}

.table-medium tr td {
    padding-top: 20px;
    padding-bottom: 0px;
    font-size: 14px;
    font-weight: 100
}

.table-medium td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
    height: 60px;
}

.table-evaluation tr th {
    height: 60px;
    font-weight: 400;
    font-size: 14px;
}

.table-evaluation tr td {
    height: 30px;
}

/* .oui-col{
    width: 400px;
    background-color: red;
} */

.commentaire-td {
    height: 150px !important;
    align-content: flex-start;
}



/* ************** */

.table-large {
    width: 1200px;
    margin: 10px auto;
    table-layout: fixed;
    border-collapse: collapse;
}

.table-large-1 tr td {
    height: 20px;
    /* font-weight: 500; */
}

.table-large-2 tr th {
    padding: 0px;
    font-weight: bold;
    font-size: 14px;
}

.table-large-2 tr td,
.table-large-1 tr td {
    padding: 7px;
}

.commentaire2-td {
    height: 110px !important;
    align-content: flex-start;
}

.table-large-3 tr td {
    height: 40px;
    padding-left: 10px;
}

.table-large-3 tr:nth-child(3) td {
    height: 80px;
}